body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Raleway, sans-serif;
}

.display-none { display: none; }

textarea.preview-input {
    width: 100%;
    border: 1px solid #eee;
    resize: none;
    height: auto;
    outline: none;
}

/** bootstrap customized */

.glyphicons {
    vertical-align: middle;
}

.access-level-select-wrapper .btn > * {
    display: inline-block;
}
.access-level-select-wrapper .btn {
    padding: 2px 5px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #333;
    font-weight: 700;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    border: none;
    /* border-bottom: 1px solid #e3e3e3; */
}
.list-group.list-group-root .list-group {
    margin-bottom: 0;
}
.list-group.list-group-root .list-group-item {
    /* border-radius: 0; */
    /* border-width: 1px 0 0 0; */
    border: none;
    cursor: pointer;
    transition: background-color 100ms;
}
.list-group.list-group-root .list-group-item:hover {
    background-color: #ECF0F1;
}
.list-group.list-group-root > .list-group-item:first-child {
    /* border-top-width: 0; */
}
.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group-item .glyphicon,
.list-group-item .glyphicons {
    margin-right: 5px;
}

.media-body,
.media-left,
.media-right {
    vertical-align: middle;
    display: inline-block;
}

.media-right {
    text-align: right;
    float: right;
}
.media-right-token{
    display: inline-block;
}
.media-heading {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* text overflow */

/** kewtea css */

.timestamp {
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.access-rights {
    display: inline-block;
    font-size: 12px;
    color: #666;
}

.access-rights .readable-access,
.access-rights .writeable-access {
    display: inline-block;
    margin-left: 2px;
}

.section-title {
    font-size: 18px;
    font-weight: 500;
}

.kt-list-view a {
    color: initial;
}

.kt-wrapper > * {
    display: table-cell;
}

.kt-side-menu-wrapper {
    position: absolute;
    width: 200px;
    height: 100%;
    border-right: 1px solid #ccc;
    top: 0;
    left: 0;
    padding-top: 50px;
    z-index: 10;
    background-color: #fff;
}
.kt-side-menu-wrapper.on-list-view {
    display: none;
}

.kt-content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 200px;
    padding-top: 50px;
    z-index: 5;
    overflow: scroll;
    background-color: #ECF0F1;
}

.kt-list-view-wrapper {
    height: 100%;
    overflow: scroll;
    background-color: #ECF0F1;
    border-right: 1px solid #ccc;
}
.kt-list-view {
    padding: 35px 0;
}
.kt-list-view-wrapper.on-detail-view {
    display: none;
}

.media-list .kt-content-thumbnail {
    width: 50px;
    height: 50px;
}
.media-list {
    margin-top: 15px;
}
.kt-detail-view-wrapper {
    height: 100%;
    overflow: scroll;
    background-color: #ECF0F1;
}

.kt-detail-view {
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
}

.detail-wrapper {
    background-color: white;
}

.detail-wrapper .head-group,
.detail-wrapper .detail-content {
    width: 100%;
    display: inline-block;
}

.detail-wrapper .head-group .kt-content-thumbnail,
.detail-wrapper .theme-content-thumbnail {
    width: 100%;
}

.detail-wrapper .channel-title,
.detail-wrapper .scene-title,
.detail-wrapper .channel-title-input,
.detail-wrapper .scene-title-input {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 15px;
}

.detail-wrapper .description,
.detail-wrapper .channel-desc-input,
.detail-wrapper .scene-desc-input {
    font-size: 14px;
    font-weight: 300;
}
.detail-wrapper .channel-desc-input,
.detail-wrapper .scene-desc-input {
    border: 1px solid #ccc;
    resize: vertical;
}

.detail-wrapper iframe {
    width: 100%;
    border: 1px solid #eee;
}

.scene-content-wrapper,
.theme-content-wrapper,
.advanced-field-wrapper,
.setting-content-wrapper,
.time-wrapper {
    width: 100%;
    display: table;
    margin-bottom: 5px;
}
.time-wrapper {
    display: table !important;
}
.scene-content-wrapper > *,
.theme-content-wrapper > *,
.advanced-field-wrapper > *,
.setting-content-wrapper > *,
.time-wrapper > * {
    display: table-cell;
}
.scene-content-wrapper > label,
.theme-content-wrapper > label,
.advanced-field-wrapper > label,
.setting-content-wrapper > label,
.time-wrapper > label {
    width: 120px;
    color: #666;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
}
.scene-content-wrapper > input,
.theme-content-wrapper > input,
.advanced-field-wrapper > input,
.setting-content-wrapper > input,
.time-wrapper > input {
    width: 100%;
}

.social-wrapper > label,
.duration-wrapper > label {
    width: initial;
    padding-right: 5px;
    padding-left: 5px;
}

.btns {
    text-align: right;
    padding-bottom: 15px;
}
.btns > span {
    cursor: pointer;
}
.kt-list-view .btns {
    margin-bottom: 15px;
}

.custom-value input {
    width: 50px;
}


/* scene advanced fields */

.show-advanced-btn {
    display: table;
    color: #3367d6;
    cursor: pointer;
    font-weight: 300;
}
.show-advanced-btn:hover {
    text-decoration: underline;
}

.field-title {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.advanced-field {
    margin-top: 25px;
}

.advanced-field ul.advanced-list {
    display: table;
    width: 100%;
    padding: 0;
    list-style: none;
}

.advanced-field .advanced-title {
    display: block;
    width: 100%;
}

.advanced-field ul.advanced-list li {
    margin: 15px 0;
    border: 1px dotted #ccc;
    padding: 10px;
}

.advanced-field-wrapper textarea {
    width: 100%;
    border: 1px solid #ccc;
}

.add-notification-btn,
.add-linkedpage-btn {
    margin-top: 15px;
    text-align: right;
}
.add-notification-btn > span,
.add-linkedpage-btn > span {
    color: #999;
    cursor: pointer;
}
.add-notification-btn > span:hover,
.add-linkedpage-btn > span:hover {
    color: #333;
}

.time-wrapper label {
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
}
.time-wrapper label:first-child {
    padding-left: 0;
}

/* detail View */

.head-group-top {
    margin-bottom: 15px;
}

.head-group label {
    margin: 0;
    font-weight: 300;
    color: #666;
    font-size: 12px;
}
.detailView-access{
    float: right;
}
.scene-title {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 500;
}
/* add & edit scene */
.scene-title-input,
.channel-title-input {
  width: 100%
}
.readaccess-selector {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.writeaccess-selector {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.scene-desc-input,
.channel-desc-input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-by-hashtag {
    margin: 10px 0;
    text-align: left;
}
.hashtag-list .hashtag {
    display: inline-block;
    margin-left: 10px;
}
.hashtag-list .hashtag:first-child {
    margin-left: 0;
}
.language-list .language {
    display: inline-block;
    margin-left: 5px;
}
.language-list .language:first-child {
    margin-left: 0;
}

/* add & edit channel */

.detail-content .btns {
    padding: 10px 0;
}

.scene_duration {
  float: right;
}

.media { overflow: initial; }

.naim-list-item {
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 8px -3px;
    transition: box-shadow 150ms;
}

.naim-list-item:hover {
    cursor: pointer;
    box-shadow: 0 7px 20px -8px;
}

.naim-list-item a {
    display: block;
    text-decoration: none !important;
    color: #333;
    padding: 10px 25px;
}

.naim-list-item label,
.naim-list-item input {
    display: inline-block;
}
.naim-list-item input {
    width: 2em;
}

.youtubeUrlInput{
  width: 100%;
}
.youtubeSearchBtn {
    width: 25px;
    padding: 0;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}
.youtubeSearchBtn:hover {
    color: #333;
}
.getYoutubeDataBtn{
    width: 25px;
    padding: 0;
    vertical-align: middle;
    font-size: 18px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    display: none;
    transform: rotate(180deg);
}
.getYoutubeDataBtn:hover{
    color: #333;
}
.channelNum-error{
    color: red;
    display: none;
}

/* list View border*/
.listType {
    font-size: 20px;
    margin-bottom: 10px;
}

.media-body {
    width: 65%;
    border: none;
}
.media-body-long {
    width: 70%;
    border: none;
    display: inline-block;
}

.moreBtn {
    text-align: center;
    font-size: 25px;
}
#moreBtn {
    margin-top: 0;
}
.channel-num {
    float: right;
    font-size: 20px;
}
.remove-scene-btn,
.remove-notification-btn,
.remove-linkedpage-btn {
    float: left;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    margin: 5px;
    padding: 3px;
    transition: color 0.25s;
}
.remove-scene-btn:hover,
.remove-notification-btn:hover,
.remove-linkedpage-btn:hover {
    color: #F44336;
}

.contentsFilter{
    text-align: right;
    padding-bottom: 5px;
}
.media-description{
    padding-bottom: 5px;
}
/** modal inside css */
.modal-content{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 80vh;
  overflow-y: auto;
}
.sortTypeList{
    text-align: left;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.sortTypeList:hover{
    background-color: #CEF6D8;
}
/* welcome page */
.welcome {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #ECF0F1;
}
.welcome_img-wrapper img {
    width: 100%;
    max-width: 400px;
    height: auto;
    opacity: 0.8;
}
.welcome_img-wrapper {
    text-align: center;
}
.welcome_message {
    text-align: center;
    font-size: 32px;
    color: #555;
}

/*TOP header */
.not-Login{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

/* css loading animation */
.sunglasses {
    position: absolute;
    display: none;
    left: 200px;
    top: 50px;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #ECF0F1;
}
.lds-ring {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 4px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
.dndPlaceholder {
    height: 50px;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* notification */
#notifications {
  position: fixed;
  bottom: 0;
  right: 0;
}
.notification {
  background: #222;
  color: #FFF;
  padding: 13px 20px;
  margin: 10px;
  border-radius: 2px;
}
.error {
  background: #e64a4a;
  color: #FFF;
  padding: 13px 20px;
  margin: 10px;
  border-radius: 2px;
}
/** size responsible */

.navbar-header {
    float: left;
}
.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {

}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a,
.not-Login {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
}

.is-disabled {
    color: #ccc !important;
    cursor: default;
}
.is-disabled input {
    cursor: default !important;
}

@media (max-width: 768px) {
    .side-menu-text {
        display: none;
    }
    .list-group-item .glyphicon,
    .list-group-item .glyphicons {
        margin: 0;
    }
    .kt-side-menu-wrapper {
        width: 56px;
    }
    .list-group-item {
        padding: 10px;
    }
    .list-group.list-group-root > .list-group > .list-group-item {
        text-align: center;
        padding: 10px 0;
    }
    .list-group.list-group-root .list-group-item {
        text-align: center;
    }
    .kt-content-wrapper {
            padding-left: 55px;
    }
}

@media (min-width: 768px) {
    .kt-side-menu-wrapper {
        width: 200px;
    }
}

@media (min-width: 1170px) {
    .kt-list-view-wrapper.on-detail-view {
        display: block;
    }
}


.member-body {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.member-body:first-child {
    border-top: none;
}
.member-body > * {
    display: inline-block;
}

.dashboard-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 2px 5px -3px;
}
.dashboard-box h4 {
    margin-bottom: 20px;
}

.dashboard-topcontent-item {
    padding: 5px 0;
    cursor: pointer;
    list-style: none;
    font-size: 16px;
    margin-top: 5px;
}
.dashboard-topcontent-item:hover {
    background-color: #ECF0F1;
}

.dashboard-topcontent-item .type-wrapper {
    position: absolute;
}
.dashboard-topcontent-item .content-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 25px;
    margin-right: 45px;
}
.dashboard-topcontent-item .content-info {
    float: right;
    margin-top: -20px;
    font-size: 14px;
}

.play-state {
    width: 15px;
    height: 15px;
    background-color: #333;
    display: inline-block;
    vertical-align: sub;
    border-radius: 50%;
    margin-left: 5px;
}
.play-state.sleep { background-color: #cf2d2d; }
.play-state.playing { background-color: #0cb40c; }
