/*init*/
*{margin:0;padding:0;}
a{text-decoration: none;}
ul,li{list-style: none;}
body,html{height:100%;}
/*test*/




/*topheader*/

.navbar-brand{font-size:36px;}
.navbar-header{float:left;}


.side-menu-wrapper {
    position: absolute;
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
    top: 0;
    left: 0;
    padding-top:64px;
    z-index: 10;
    background-color: #fff;
}

.content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 200px;
    padding-top: 64px;
    z-index: 5;
    overflow: scroll;
    background-color: #ECF0F1;
}

.kt-list-view-wrapper {
    height: 100%;
    overflow: scroll;
    background-color: #ECF0F1;
    border-right: 1px solid #ccc;
}

.list-group-item img{width:24px; height:24px;}
.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    border: none;
    width:100%;
    /* border-bottom: 1px solid #e3e3e3; */
}


.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}
.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}
.list-group-item .glyphicon,
.list-group-item .glyphicons {
    margin-right: 5px;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
  
  

@media (max-width: 768px) {
    .side-menu-text {
        display: none;
    }
    .list-group-item .glyphicon,
    .list-group-item .glyphicons {
        margin: 0;
    }
    .side-menu-wrapper {
        width: 56px;
    }
    .list-group-item {
        padding: 10px;
    }
    .list-group.list-group-root > .list-group > .list-group-item {
        text-align: center;
        padding: 10px 0;
    }
    .list-group.list-group-root .list-group-item {
        text-align: center;
    }
    .content-wrapper {
            padding-left: 55px;
    }
}

@media (min-width: 768px) {
    .side-menu-wrapper {
        width: 200px;
    }
}

/*drop menu*/
/*.dropdown{padding:20px 0;}*/
.navbar-nav .dropdown-menu{
    margin-top:0;
    position: absolute;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

}

.navbar-nav>li>.dropdown-menu{
    margin-bottom: 0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;

}

.dropdown-menu{margin-top:20px;min-width:200px;}