/*init*/
*{margin:0;padding:0;}
a{text-decoration: none;}
ul,li{list-style: none;}
body,html{height:100%;color:white;}
.h3{margin-bottom:0;}
.section{background-color:gray;padding-bottom:20px;}
.chart{
    border:1px solid black;
    background-color:white;
    color:black;
    height:400px;width:100%;
}

.title{height: 50px; background-color:white;color:black;position: relative;}
.title i{font-size:24px;padding:12px;}
i.fa-edit{position: absolute;right:0;top:0;}


.subtitle span{line-height:40px;}
legend,.checkbox{width:50%;}

