
        <div class="section">
            <div class="title justify">
                <i class="fas fa-tag"></i><span class="h2">Brand</span><i class="fas fa-edit"></i>
            </div>
            <div class="summary container">
               <div class="row justify-content-between subtitle">
                    <span class="h3 col-lg-4">summary</span>
                    <span class="col-lg-4 text-right">Date(yy/mm/dd)</span>
               </div> 

               <!-- 브랜드 선택 체크박스-->
               <div class="row align-items-end">

               <legend class="col-lg-6">category:Loremipsum..</legend>

                <div class="checkbox col-lg-6 col-md-12 text-right vertical-item-bottom">

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Brand1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Brand2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"><!--disabled-->
                        <label class="form-check-label" for="inlineCheckbox3">Brand3</label>
                    </div>
                </div><!--체크박스-->

                <div class="chart">
                    차트영역
                </div>  
                </div>

                <p class="score text-right">점수계산식...</p>
                <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0 text-right my-auto">
                              <button class="btn btn-link align-middle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fas fa-chevron-right">more</i>
                              </button>
                            </h2>
                          </div>
                        </div>
                </div><!--아코디언 링크-->
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                </div>
                <!--아코디언 글-->

            </div>




        </div>

