<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!--icon-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">-->
    
    <link href="css/glyphicon-regular.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet"  href="./css/admin.css" type="text/css">-->
    <link rel="stylesheet"  href="./css/main.css" type="text/css">
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR:100&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
        <div ng-controller="MainCtrl">
                <div ng-if="onLoadComplete">
            
                    <nav class="navbar navbar-default" ng-controller="TopHeaderCtrl">
                        <nav class="navbar navbar-default navbar-fixed-top topHeader">
                                <div class="container-fluid" style="background-color: #FFF; box-shadow: 0 4px 12px -8px;">
                              
                                  <div class="navbar-header">
                                    <a class="navbar-brand" style="cursor: pointer;" href="#">
                                            <img src="https://img.icons8.com/android/48/000000/radar.png" class="d-inline-block align-top" alt="">
                                            Watcher
                                    </a>
                                
                                    </div>
                              
                                  <ul class="nav navbar-nav navbar-right hidden-xs">
                                    <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                                    ng-if="user != undefined">
                                      <span ng-bind="('hello' | ktTranslate)+', '+user.uniquename">Hello {{user.uniquename}}</span>
                                      <span class="caret"></span>
                                    </a>
                              
                                      <ul class="dropdown-menu">
                                        <li><a href="#" ng-bind="'logout' | ktTranslate">Logout</a></li>
                                      </ul>
                                    </li>
                                    <!--<div ng-if="user == undefined" class="not-Login" onclick= "location.href ='https://kewtea.com/login?service=naim';"
                                         ng-bind="'login' | ktTranslate" >
                                        Login
                                    </div>-->
                                    <a class="navbar-brand"><img class="d-inline-block align-top"src="https://img.icons8.com/ios/50/000000/google-sheets.png"></a>
                                  </ul>
                              
                                </div>
                        </nav>
                              
                    </nav>
                    
            
                    <div class="side-menu-wrapper">
                        <ul class="nav nav-pills nav-stacked side-menu"
                            ng-include="'templates/NaimSideMenu.html'"
                            ng-controller="SideMenuCtrl">
                            <div class="list-group d-flex list-group-root well" ng-init="onInit()">

                                    <a class="list-group-item " id="home" ng-click="onClickMenuItem('home')">
                                        <img src="https://img.icons8.com/material/48/000000/home-page.png">
                                        <span class="side-menu-text" ng-bind="'home' | ktTranslate">Home</span>
                                    </a>
                                    


                                    <a class="list-group-item" id="campaign" ng-click="onClickMenuItem('campaign')">
                                        <span style="display: inline-table; width: 14px; height: 14px; margin-right: 5px;">
                                                <img src="https://img.icons8.com/material/48/000000/tags.png">
                                        </span>
                                        <span class="side-menu-text" ng-bind="'campaigns' | ktTranslate">Brand</span>
                                    </a>


                                    <!--product 누르면 항목 아래로-->
                                    <a href="#contents" class="list-group-item" data-toggle="c ollapse" style="text-align: initial !important;">
                                            <img src="https://img.icons8.com/material-sharp/48/000000/box.png">
                                        <span class="side-menu-text" ng-bind="'contents' | ktTranslate">Product</span>
                                        <i class="glyphicon glyphicon-chevron-right" style="position: absolute; right: 5px; top: 13px;"></i>
                                    </a>
                                    <div class="list-group collapse" id="contents">
                                
                                        <a class="list-group-item" id="theme" ng-click="onClickMenuItem('theme')">
                                            <span class="glyphicon glyphicon-picture"></span>
                                            <span class="side-menu-text" ng-bind="'themes' | ktTranslate">sub1</span>
                                        </a>
                                
                                        <a class="list-group-item" id="scene" ng-click="onClickMenuItem('scene')">
                                            <span class="glyphicon glyphicon-play"></span>
                                            <span class="side-menu-text" ng-bind="'scenes' | ktTranslate">sub2</span>
                                        </a>
                                    </div>
                                
                                    <a class="list-group-item" id="channel" ng-click="onClickMenuItem('channel')">
                                            <img src="https://img.icons8.com/material-outlined/48/000000/search.png">
                                        <span class="side-menu-text" ng-bind="'channels' | ktTranslate">Issue Keywords</span>
                                    </a>
                                     <!-- 추후 메뉴 추가 할때 여기에 추가하세요-->
                                    
                                    <!--
                                     <a ng-if="'superUser' === getUserRight() || 'superAdmin' === getUserRight()" class="list-group-item" id="domain" ng-click="onClickMenuItem('domain')">
                                        <span class="glyphicons glyphicons-building"></span>
                                        <span class="side-menu-text" ng-bind="'domains' | ktTranslate">Domains</span>
                                    </a>
                                
                                    <a ng-if="'superUser' === getUserRight() || 'superAdmin' === getUserRight()" class="list-group-item" id="device" ng-click="onClickMenuItem('device')">
                                        <span class="glyphicon glyphicon-phone"></span>
                                        <span class="side-menu-text" ng-bind="'devices' | ktTranslate">Devices</span>
                                    </a>
                                    -->
                                    
                                
                            </div><!--list-group-->
                        </ul>
                    </div>
            
                    <div class="content-wrapper">
            
                        <!--  welcome -->
                        <div ng-hide="isShownSetting" class="welcome">
                            <div class="home-dashboard"
                                 ng-include="'templates/NaimAdminDashboard.html'"></div>
                        </div>
            
                        <!--  loading animation -->
                        <div ng-hide="isShownSetting" class="sunglasses">
                            <div class="lds-ring">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
            
                        <div ng-hide="isShownSetting || currentListType === null" class="list-view-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-6"
                             ng-controller="ListViewCtrl"
                             ng-class="{'on-detail-view': isOpenDetailView}"
                             >
                            <div class="list-view"
                                 ng-include="'templates/NaimListView.html'"></div>
                        </div>
            
                        <div class="detail-view-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-6"
                             ng-include="'templates/NaimDetailView.html'"
                             ng-controller="DetailViewCtrl"
                             ng-hide="isShownSetting || detailView === undefined">
                        </div>
            
                        <!-- Settings Detail -->
                        <div ng-if="isShownSetting" class="setting-view-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12"
                             ng-include="'templates/NaimSettingsView.html'"
                             style="height: 100%; overflow: scroll; background-color: #efefef;">
                                 
                             
                             
                             
                             
                             
                             
                                 <? include "example2.html" ?>
                                <!--test------------------------------------------------------------------------------------>



                        </div>
            
                    </div>
            
            
                </div>
            </div>
            
            <div id="player" style="position: fixed;left: -100%;top: -100%;"></div>
            
        
        <style>
            nav{display:block;}
            .navbar{border:1px solid transparent;}
            .navbar-default{min-height:64px;}
            .navbar-default::before{display:block;content: '';background-color:#f8f8f8;border-color:#e7e7e7;}
            .navbar-fixed-top{top:0;border-width:0 0 1px;padding:0 0 1px 0;} 

            .navbar-fixed-top,.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030;}
           

            .navbar-nav{flex-direction: row;}
            .not-Login{padding:13px 0;}

            .list-group-item{background:white;}
            

            .list-group.list-group-root .list-group-item:hover {background-color: rgb(206, 246, 216);}


            .list-group-item{padding:10px 15px;}
            .list-group-item:first-child{border-top-left-radius:4px;border-top-right-radius:4px;}


            .well{min-height:20px; margin-bottom:20px;background-color:#f5f5f5;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}

        </style>
       
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
       
        </script>

 
</body>


</html>
