
<body>

 <!-- 브랜드 선택 체크박스-->
<div class="container"> 
 <div class="row">
        <div class="summary p-3 mb-2 bg-dark text-white  col-lg-12 col-sm-12">
                    <img src="https://img.icons8.com/material-outlined/48/000000/search.png">
                     <span class="h3">Issue Keyword</span>

               <!-- <div class="row justify-content-between subtitle"> </div> -->
        </div>
        
         <legend class="col-lg-7">연관단어</legend>
         <div class="dropdown col-lg-5 d-flex justify-content-end">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &&Date&&
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">지난 7일</button>
                  <button class="dropdown-item" type="button">지난 14일</button>
                  <button class="dropdown-item" type="button">지난 30일</button>
                </div>
        </div>
     
                

            <div class="chartWrapper col-lg-12 mx-auto">
                <div class="chart col-lg-12 col-sm-12">
                    <!--차트넣는 공간입니다-->
                </div><!--이 윗쪽 공간에 차트영역-->
                <p class="yindex">Y축:<span>갯수</span></p>
                <p class="xindex">X축:<span>날짜</span></p> 
            </div> <!--차트 감싸는 영역--> 
            
            
            
 </div>
 <!--<p class="score text-right col-lg-12 mx-auto">Domain Ensemble Equation (G0.2+A0.8)</p>-->
         
         <div class="accordion" id="accordionExample">
                 <div class="card">
                   <div class="card-header" id="headingOne">
                     <h2 class="mb-0 text-right my-auto">
                       <button class="btn btn-link align-middle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span> >more</span>
                       </button>
                     </h2>
                   </div>
                 </div>
         </div><!--아코디언 링크-->
         <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                 <div class="card-body">
                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                 </div>
         </div>
         <!--아코디언 글-->

    





</div> 

</body>
<!--<style>


/*summary 영역*/

    .checkbox{flex-wrap:wrap;}
    div.chart{background:red;height:500px;position:relative;}
    .card-body{background-color: gray;}
    .btn{border-radius:0;}    

    /*p {transform: rotate(-90deg);}*/
    p.yindex{position: absolute;left:0px;top:75px;transform: rotate(-90deg);}
    p.xindex{position: absolute;bottom:-15px;right:30px;}
    
    .card-header{padding:0 1.25rem;}
    .card-header h2{font-size:1px;}

  
</style>
</html>  -->