
<body>

 <!-- 브랜드 선택 체크박스-->
<div class="container">
 <div class="row">

        <legend class="col-lg-7">Category:<span>Nike</span></legend>
        <div class="checkbox col-lg-5 d-flex align-items-end">

                <div class="form-check form-check-inline ml-auto">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Nike</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Adiddas</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"><!--disabled-->
                    <label class="form-check-label" for="inlineCheckbox3">Asics</label>
                </div>
        </div><!--체크박스-->


            <div class="chartWrapper col-lg-12 mx-auto">
               
                <div class="chart col-lg-12 col-sm-12">
                



                </div><!--이 윗쪽 공간에 차트영역-->
                <p class="yindex">Y축:<span>종합점수</span></p>
                <p class="xindex">X축:<span>날짜</span></p> 
            </div> <!--차트 감싸는 영역--> 
            
            
            
 </div>
 <p class="score text-right col-lg-12 mx-auto">Domain Ensemble Equation (G0.2+A0.8)</p>
         
         <div class="accordion" id="accordionExample">
                 <div class="card">
                   <div class="card-header" id="headingOne">
                     <h2 class="mb-0 text-right my-auto">
                       <button class="btn btn-link align-middle" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span> >more</span>
                       </button>
                     </h2>
                   </div>
                 </div>
         </div><!--아코디언 링크-->
         <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                 <div class="card-body">
                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                 </div>
         </div>
         <!--아코디언 글-->

    





</div> 

</body>
