
<body>
    <div class="container">
    <nav class="navbar navbar-default">
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid" style="background-color: #FFF; box-shadow: 0 4px 12px -8px;">
              
                  <div class="navbar-header">
                    <a class="navbar-brand" style="cursor: pointer;" href="#">
                     <img src="https://img.icons8.com/metro/52/000000/xlarge-icons.png" class="d-inline-block align-top" alt="">
                            Title
                    </a>
                  </div>  
                    <a class="nav navbar-nav navbar-right" href="#">
                        <img src="https:img.icons8.com/android/48/000000/pencil.png" class="d-inline-block align-top" alt="">
                    </a>
                </div>
        </nav>        
    </nav>

    <div class="summary p-3 mb-2 bg-dark text-white">
            <div class="row justify-content-between subtitle">
                 <span class="h3 col-lg-4 col-sm-6">summary</span>
                 <span class="col-lg-4 col-sm-6 text-right">DATE{{User.period}}</span>
             </div> 
    </div>
</div>
<!--title영역-->


</body>
<!--<style>


        /*summary 영역*/
            .summary{padding:15px;margin-top:10px;}
        
        
        
        
        .navbar-brand{font-size:36px;}
            nav{display:block;}
                    .navbar{border:1px solid transparent;}
                    .navbar-default{min-height:64px;}
                    .navbar-default::before{display:block;content: '';background-color:#f8f8f8;border-color:#e7e7e7;}
                    .navbar-fixed-top{top:0;border-width:0 0 1px;padding:0 0 1px 0;} 
        
                    .navbar-fixed-top,.navbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1030;}
                   
        
                    .navbar-nav{flex-direction: row;}
                    .not-Login{padding:13px 0;}
        
                    .list-group-item{background:white;}
                    
        
                    .list-group.list-group-root .list-group-item:hover {background-color: rgb(206, 246, 216);}
        
        
                    .list-group-item{padding:10px 15px;}
                    .list-group-item:first-child{border-top-left-radius:4px;border-top-right-radius:4px;}
        
        
                    .well{min-height:20px; margin-bottom:20px;background-color:#f5f5f5;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}
        
        
        
        </style>
        </html>  -->